body {
	background-image: url("../images/NBA_Playoffs_2017.jpeg");
}

#content {
	background-color: #CECECE;
	width: 50%;
	padding-left: 50px;
	margin: 100px 300px;
}

body div h2 {
	color: blue;
	font-size: 50px;
}

#start-button {
	font-size: 32px;
	margin: 50px;
	padding: 10px 20px;
	background-color: white;
	transition-duration: 0.4s;
	cursor: pointer;
	border: 2px solid #008CBA;
}

#start-button:hover {
	background-color: #555555;
	color: white;
}

#submit {
	display:none;
	font-size: 32px;
	margin: 50px;
	padding: 10px 20px;
	background-color: white;
	transition-duration: 0.4s;
	cursor: pointer;
	border: 2px solid #008CBA;

}

#submit:hover {
	background-color: #555555;
	color: white;
}

#quiz {

}

.question {
	font-size: 24px;
}

.answers {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 50px; 
}

#results {
	font-size: 24px;
	line-height: 2.0;
}